@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #fafafa;
    background-color: #232323;
}

h1, h2 {
    font-family: Bitter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;
}

#logo {
    float: left;
    font-size: 310%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fafafa;
}

.active {
    border-bottom: 1px solid #fafafa;
}

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/Busby-babes-hero-image-3.jpeg') no-repeat center center;
}

#overview {
    height: 1000px;
}

#left-overview {
    padding-top: 30px;
    width: 25%;
    float: left;
}


#right-overview {
    padding-top: 30px;
    width: 25%;
    float: right;
}

#center-overview {
    width: 60%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #fafafa;
    width: 98%;
    margin: 5px;
}

.left-overview-heading {
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-overview-heading {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-overview-heading h2 {
    text-align: right;
}

.right-overview-heading p {
    text-align: right;
}

#about {
    text-align: center;
    margin: 30px;
    font-size: 260%;
}

#container {
    width: 600px;
    height: 400px;
    padding: 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    margin: 0 auto;
    margin-top: 100px;
}

#center-image-one {
    background: url('../images/munich-plane-crash.webp') no-repeat center center;
    height: 100%;
    background-size: contain;

}